<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>feedback page</h1>

<input type="text" name = "email" value ="<%= username %>"/>
</body>
</html>